# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.sqlite

# Distribution / packaging
.Python
downloads/
lib/
lib64/

# Environments
.env
.env-docker
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# Certificates
*.key
*.crt

# Configuration
*.conf
*.cfg

# Mac files
*.Ds_Store